{% extends 'base.html' %}
{% block title %}Login | African Celebs{% endblock %}
{% block content %}
<style>
.login-form input { padding: 0.50rem; width:100%; margin-top:0.5rem; max-width:300px; margin-bottom:0rem; }
</style>
<div class="mv1-00">
    <header>
        <h1>Login</h1>
    </header>
    <div class="flex flex-column justify-center items-center ggap2-00"
    >
        <div class="bg-white-10 w-100 pa1-00 flex">
            <form method="post"
                class="w-100 login-form"
            >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"
                    class="pa0-25"
                >Login</button>
            </form>
        </div>
        <div class="bg-white-10 w-100 pa1-00">
            <p>Don't have an account?</p>
            <div class="pt1-00">
                <a href="{% url 'register' %}"
                class="blue0 ba pa0-25 br0-25"
            >
                 Register
            </a></div>
        </div>
    </div>
    <footer class="ma1-00 mt2-00">
        <a href="{% url 'home' %}"
            class="blue0 ba pa0-25 br0-25"
        >
            Back to Home
        </a>
    </footer>
</div>

{% endblock %}
